# Core data handling
pandas>=1.5.3
numpy>=1.23.5

# Visualization
matplotlib>=3.7.1
seaborn>=0.12.2

# NLP & Sentiment Analysis
nltk>=3.8.1
textblob>=0.17.1
wordcloud>=1.9.2
scikit-learn>=1.2.2

# Technical Analysis
TA-Lib==0.4.0
pynance @ git+https://github.com/corpetty/pynance.git

# Correlation/Stats
scipy>=1.10.1

# Jupyter Notebook
jupyterlab>=4.0.0
ipykernel>=6.23.0

# Linting & Code Quality (Optional)
flake8>=6.0.0
black>=23.3.0
